<article class="aside-wrap">
  <div class="col-flex">
    <div class="flex-row-item">
      <div class="aside-title-wrap">
        <h2 class="main-title">{{ this.title }}</h2>
        <div class="center-line"></div>
      </div>
      <ul class="bank-list">
        <li>신한은행 <span class="primary">100-024-371015</span></li>
        <li>예금주 <span class="primary">권준혁</span></li>
      </ul>
    </div>
  </div>
  <div class="col-flex">
    <div class="flex-row-item">
      <div class="aside-title-wrap">
        <h2 class="main-title">E-Mail</h2>
        <div class="center-line"></div>
      </div>
      <ul class="bank-list">
        <li>barondivebohol<span class="at-txt">@</span>gmail.com</li>
      </ul>
    </div>
  </div>
  <div class="col-flex">
    <div class="flex-row-item">
      <div class="aside-title-wrap">
        <h2 class="main-title">KakaoTalk</h2>
        <div class="center-line"></div>
      </div>
      <div class="kakao-bnr"></div>
    </div>
  </div>
  <div class="col-flex">
    <div class="flex-row-item">
      <div class="aside-title-wrap">
        <h2 class="main-title">Instagram</h2>
        <div class="center-line"></div>
      </div>
      <div class="instagram-bnr"></div>
    </div>
  </div>
</article>
