<section class="contact-wrap">
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">{{ this.title }}</h2>
      <div class="center-line"></div>
    </div>
    <div class="contact-txt-wrap">
      <ul>
        <li>바론 다이브는 필리핀 보홀 섬의 “Danao Beach”에 위치해 있습니다.</li>
        <li>‌오시는 방법은 보홀 직항을 이용하시거나, “세부” 혹은 “마닐라”를 경유하는 방법이 있습니다.</li>
      </ul>
    </div>
    <div class="contact-card">
      <div class="card-item">
        <h3>보홀 직항</h3>
        <div class="contact-motion">
          <div>한국</div>
          <div class="arrow"></div>
          <div>보홀</div>
          <div class="airplane"></div>
        </div>
        <div class="time-wrap">
          <div>5시간 소요</div>
        </div>
      </div>
      <div class="card-item">
        <h3>세부 경유</h3>
        <div class="contact-motion">
          <div>한국</div>
          <div class="arrow"></div>
          <div>세부</div>
          <div class="arrow"></div>
          <div>보홀</div>
          <div class="airplane_stopover"></div>
          <div class="ship"></div>
        </div>
        <div class="time-wrap">
          <div>4 ~ 5시간 소요</div>
          <div>2시간 소요</div>
        </div>
      </div>
      <div class="card-item">
        <h3>마닐라 경유</h3>
        <div class="contact-motion">
          <div>한국</div>
          <div class="arrow"></div>
          <div>마닐라</div>
          <div class="arrow"></div>
          <div>보홀</div>
          <div class="airplane_stopover"></div>
          <div class="airplane_end"></div>
        </div>
        <div class="time-wrap">
          <div>4시간 소요</div>
          <div>1시간 소요</div>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">연락처</h2>
      <div class="center-line"></div>
    </div>
    <div class="contact-info">
      <div class="info-item">
        <div class="icon mail">
          <mat-icon aria-hidden="false" aria-label="mail" svgIcon="mail"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>E-Mail</h3>
          <div class="email">barondivebohol<span class="at-txt">@</span>gmail.com</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon phone">
          <mat-icon aria-hidden="false" aria-label="phone" svgIcon="phone"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>현지 전화</h3>
          <div class="phone">토미강사<span class="nm-txt">( +63 927 930 2877 )</span></div>
          <div class="phone">줄리강사<span class="nm-txt">( +63 977 132 1474 )</span></div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="kakao" svgIcon="kakao"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>카카오톡</h3>
          <div class="phone">카카오톡<span class="nm-txt">( barondive )</span></div>
          <div class="phone">카카오채널<span class="nm-txt">( @바론다이브 )</span></div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="instagram" svgIcon="instagram_contact"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>인스타그램</h3>
          <div class="instagram"><span class="at-txt">@</span><span class="nm-txt">baron_dive</span></div>
        </div>
      </div>
    </div>
  </article>
</section>
