<section class="baron-wrap">
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">{{ this.title }}</h2>
      <div class="center-line"></div>
    </div>
    <div class="barondive-wrap">
      <div class="barondive-msg">
        <span>“Baron”</span> 은<span>“바른”</span>의 또 다른 우리말 표현입니다.<br />
        바르고 정직하게 다이빙을 하겠습니다. <br />
        <span class="lets-msg">Let's keep the Honor of Dive!!</span>
      </div>
      <div>
        <img src="/assets/images/intro/intro.jpg" />
      </div>
    </div>
  </article>
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">Staff</h2>
      <div class="center-line"></div>
    </div>
    <div class="staff-wrap">
      <div class="staff-item">
        <div><img src="/assets/images/intro/tommy.jpg" alt="TOMMY" /></div>
        <div class="staff-info">
          <h3>토미강사 / TOMMY</h3>
          <ul>
            <li>PADI 강사</li>
            <li>PADI 스페셜티 강사</li>
            <li>바론다이브 대표 강사</li>
            <li>
              망설이고 있기에는 너무 아까운 우리의 인생입니다.<br />
              지금 바론 다이브의 새로운 귀중한 인연이 되어주세요.<br />
              같이 인생을 더 값지게 만들어요~
            </li>
          </ul>
        </div>
        <div class="staff-img" [style.background-image]="'url(/assets/images/intro/staff01.jpg)'"></div>
      </div>
      <div class="staff-item">
        <div><img src="/assets/images/intro/julie.jpg" alt="JULIE" /></div>
        <div class="staff-info">
          <h3>줄리강사 / JULIE</h3>
          <ul>
            <li>PADI 강사</li>
            <li>SDI 강사</li>
            <li>바론다이브 대표 강사</li>
            <li>
              물에서 숨쉬는게 너무 좋습니다.<br />
              사람들과 이야기 하는게 너무 좋습니다.<br />
              사람들과 같이 다이빙 할 수 있는 지금이 제게는 천국 입니다.
            </li>
          </ul>
        </div>
        <div class="staff-img" [style.background-image]="'url(/assets/images/intro/staff02.jpg)'"></div>
      </div>
    </div>
  </article>
</section>
