$title-font: Roboto, 'NanumSquare', 'Noto Sans', 'Helvetica Neue', sans-serif;
$content-font: Roboto, 'Noto Sans', 'Helvetica Neue', sans-serif;

$def-text-color: #555;

$bg-primary: #4e8cc7;
$bg-primary-txt-color: #fff;
$bg-primary-txt-hover-color: #ddd;

$line-color: #ececec;

$font-color-dark: #035f96;
$font-sub-text-color: #818181;

$second-color: #cc3427;
$second-light-color: #ff6851;
$second-dark-color: #930000;

$primary-color: #4e8cc7;
$primary-light-color: #83bcfa;
$primary-dark-color: #035f96;

$green-color: #3eb449;
$green-light-color: #75e778;
$green-dark-color: #00831a;

$red-color: #db534b;
$red-light-color: #ff8477;
$red-dark-color: #a31e23;

$purple-color: #ba2a98;
$purple-light-color: #ef62c9;
$purple-dark-color: #86006a;

$orange-color: #bb2244;
$orange-light-color: #f35a6f;
$orange-dark-color: #84001e;

$content-default-width: 1100px;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1100px;
