<section class="error-wrap">
  <article>
    <div class="error-img-wrap">
      <img src="/assets/images/logo/baron_logo_no_text.png" class="logo" alt="BaronDive" />
    </div>
    <div class="text-wrap">
      <div class="error-code">4<span>0</span>4</div>
      <div class="text">찾을수 없는 페이지 입니다.</div>
      <div class="text">요청하신 페이지가 사라졌거나, 잘못된 경로를 접근하셨습니다. :)</div>
      <div class="btn">
        <button mat-raised-button color="primary" #homeBtnEl>
          <mat-icon aria-hidden="false" aria-label="목록" svgIcon="home_ico"></mat-icon>
          홈으로 이동
        </button>
      </div>
    </div>
  </article>
</section>
