<section class="fundiving-wrap">
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">{{ this.title }}</h2>
      <div class="center-line"></div>
    </div>
    <div class="fundiving-txt-wrap">
      <ul>
        <li>바론다이브는 환경세(바다입장료)를 별도로 부과하지 않습니다.</li>
      </ul>
    </div>
    <div class="fundiving-info">
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="diving" svgIcon="diving"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>펀다이빙</h3>
          <div class="txt-info-item">1일 2회</div>
          <div class="txt-info-item">2회 다이빙 + 점심식사 제공</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>75</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon green">
          <mat-icon aria-hidden="false" aria-label="diving" svgIcon="diving"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>펀다이빙</h3>
          <div class="txt-info-item">1일 3회</div>
          <div class="txt-info-item">3회 다이빙 + 점심식사 제공</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>100</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="diving_home" svgIcon="diving_home"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>펀다이빙 + 숙박</h3>
          <div class="txt-info-item">1일 3회</div>
          <div class="txt-info-item">3회 다이빙 + 숙박 1박 + 아침식사 제공 + 점심식사 제공</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>120</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon orange">
          <mat-icon aria-hidden="false" aria-label="diving" svgIcon="diving"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>체험 다이빙</h3>
          <div class="txt-info-item">2인부터 신청 가능</div>
          <div class="money-txt one">1회 <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>60</div>
          <div class="money-txt two">2회 <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>100</div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">별도 추가비용</h2>
      <div class="center-line"></div>
    </div>
    <div class="fundiving-info">
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="single" svgIcon="single"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>싱글차지</h3>
          <div class="txt-info-item">1박</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>20</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon green">
          <mat-icon aria-hidden="false" aria-label="scuba" svgIcon="scuba"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>장비렌탈</h3>
          <div class="txt-info-item">1일</div>
          <div class="txt-info-item">호흡기, BCD, 스킨장비</div>
          <div class="money-txt">
            <span class="sub-txt">각</span> <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>5
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="dive_computer" svgIcon="dive_computer"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>다이브 컴퓨터</h3>
          <div class="txt-info-item">1일</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>5</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon orange">
          <mat-icon aria-hidden="false" aria-label="light" svgIcon="light"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>수중 라이트</h3>
          <div class="txt-info-item">1회</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>5</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon dark">
          <mat-icon aria-hidden="false" aria-label="many_dive" svgIcon="many_dive"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>야간다이빙 (2인 이상)</h3>
          <div class="txt-info-item">1회</div>
          <div class="txt-info-item">장비렌탈 별도 <span class="sub-money">$5</span></div>
          <div class="money-txt">
            <span class="sub-txt">각</span> <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>35
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon dark">
          <mat-icon aria-hidden="false" aria-label="diving" svgIcon="diving"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>야간다이빙 (1인)</h3>
          <div class="txt-info-item">1회</div>
          <div class="txt-info-item">장비렌탈 별도 <span class="sub-money">$5</span></div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>40</div>
        </div>
      </div>
    </div>
  </article>
</section>
