<section class="other-wrap">
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">{{ this.title }}</h2>
      <div class="center-line"></div>
    </div>
    <div class="other-info">
      <div class="info-item">
        <div class="icon green">
          <mat-icon aria-hidden="false" aria-label="pickup_car_small" svgIcon="pickup_car_small"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 공항 픽업(3인 이하)</h3>
          <div class="txt-info-item">편도</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="peso" svgIcon="peso"></mat-icon>300</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="pickup_car_big" svgIcon="pickup_car_big"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 공항 픽업(4인 이상)</h3>
          <div class="txt-info-item">편도</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="peso" svgIcon="peso"></mat-icon>400</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon orange">
          <mat-icon aria-hidden="false" aria-label="pickup_car_small" svgIcon="pickup_car_small"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 항구 픽업(3인 이하)</h3>
          <div class="txt-info-item">편도</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="peso" svgIcon="peso"></mat-icon>500</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="pickup_car_big" svgIcon="pickup_car_big"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 항구 픽업(4인 이상)</h3>
          <div class="txt-info-item">편도</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="peso" svgIcon="peso"></mat-icon>600</div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">오션젯 구매 대행</h2>
      <div class="center-line"></div>
    </div>
    <div class="other-info">
      <div class="info-item">
        <div class="icon green">
          <mat-icon aria-hidden="false" aria-label="oceanjet" svgIcon="oceanjet"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 <mat-icon aria-hidden="false" aria-label="arrow_right" svgIcon="arrow_right"></mat-icon> 세부</h3>
          <div class="txt-info-item">편도</div>
          <div class="money-txt etc">별도문의</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="oceanjet" svgIcon="oceanjet"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 <mat-icon aria-hidden="false" aria-label="arrow_roundtrip" svgIcon="arrow_roundtrip"></mat-icon> 세부</h3>
          <div class="txt-info-item">왕복</div>
          <div class="money-txt etc">별도 문의</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon orange">
          <mat-icon aria-hidden="false" aria-label="oceanjet" svgIcon="oceanjet"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 <mat-icon aria-hidden="false" aria-label="arrow_right" svgIcon="arrow_right"></mat-icon> 두마게티</h3>
          <div class="txt-info-item">편도</div>
          <div class="money-txt etc">별도문의</div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">육상투어</h2>
      <div class="center-line"></div>
    </div>
    <div class="other-info">
      <div class="info-item">
        <div class="icon green">
          <mat-icon aria-hidden="false" aria-label="tour02" svgIcon="tour02"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>보홀 투어</h3>
          <div class="txt-info-item">1일</div>
          <div class="money-txt etc">별도문의</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="tour01" svgIcon="tour01"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>팡글라오 투어</h3>
          <div class="txt-info-item">1일</div>
          <div class="money-txt etc">별도 문의</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon dark">
          <mat-icon aria-hidden="false" aria-label="firefly" svgIcon="firefly"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>반딧불 투어</h3>
          <div class="txt-info-item">저녁시간</div>
          <div class="money-txt etc">별도문의</div>
        </div>
      </div>
    </div>
  </article>
</section>
