<section class="training-wrap">
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">{{ this.title }}</h2>
      <div class="center-line"></div>
    </div>
    <div class="training-txt-wrap">
      <ul>
        <li>‌바론다이브는 환경세(바다입장료)를 별도로 부과하지 않습니다.</li>
        <li>‌바론다이브는 모든 교육다이빙에 장비와 컴퓨터 렌탈비가 포함되어 있습니다.</li>
        <li>‌교육 과정 별 자세한 일정은 공지사항을 참고해 주세요.</li>
      </ul>
    </div>
    <div class="training-info">
      <div class="info-item">
        <div class="icon padi">
          <mat-icon aria-hidden="false" aria-label="padi" svgIcon="padi"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 오픈워터</h3>
          <div class="txt-info-item">3일 과정</div>
          <div class="txt-info-item">이론교육 + 제한수역 + 개방수역</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>360</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon padi_red">
          <mat-icon aria-hidden="false" aria-label="padi" svgIcon="padi"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 어드밴스</h3>
          <div class="txt-info-item">2일 과정</div>
          <div class="txt-info-item">이론교육 + 개방수역</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>320</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon padi_dark">
          <mat-icon aria-hidden="false" aria-label="padi" svgIcon="padi"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 오픈 + 어드 연속교육</h3>
          <div class="txt-info-item">4일</div>
          <div class="txt-info-item">이론교육 + 제한수역 + 개방수역</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>650</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="rescue" svgIcon="rescue"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 레스큐</h3>
          <div class="txt-info-item">2일 과정</div>
          <div class="txt-info-item">이론교육 + 제한수역 + 개방수역</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>450</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon orange">
          <mat-icon aria-hidden="false" aria-label="efr" svgIcon="efr"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>EFR</h3>
          <div class="txt-info-item">1일 과정</div>
          <div class="txt-info-item">CPR, First Aid, AED, Children</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>160</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="dive_master" svgIcon="dive_master"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 다이브 마스터</h3>
          <div class="txt-info-item">10일 + @ 과정</div>
          <div class="txt-info-item">이론교육 + 제한수역 + 개방수역</div>
          <div class="txt-info-item">교재비, 등록비 별도</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>1000</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon dark-green">
          <mat-icon aria-hidden="false" aria-label="nitrox" svgIcon="nitrox"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 엔리치드에어</h3>
          <div class="txt-info-item">1일 과정</div>
          <div class="txt-info-item">이론교육 + 개방수역 1회</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>250</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon padi_dark">
          <mat-icon aria-hidden="false" aria-label="special_dive" svgIcon="special_dive"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>PADI 스페셜티</h3>
          <div class="txt-info-item">스페셜티에 따라 기간, 비용이 다릅니다.</div>
          <div class="txt-info-item">예약시 별도 문의 주세요.</div>
          <div class="money-txt long">
            <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>150 ~
            <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>300
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="scuba_reminder" svgIcon="scuba_reminder"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>스쿠버 리마인드</h3>
          <div class="txt-info-item">1일 과정</div>
          <div class="txt-info-item">제한수역 혹은 개방수역</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>150</div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="sub-title-wrap">
      <h2 class="main-title">별도 추가비용</h2>
      <div class="center-line"></div>
    </div>
    <div class="training-info">
      <div class="info-item">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="home" svgIcon="home"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>숙박</h3>
          <div class="txt-info-item">1박</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>20</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon green">
          <mat-icon aria-hidden="false" aria-label="single_home" svgIcon="single_home"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>숙박 싱글차지</h3>
          <div class="txt-info-item">1일</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>20</div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon purple">
          <mat-icon aria-hidden="false" aria-label="single_edu" svgIcon="single_edu"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>1인 교육 싱글차지</h3>
          <div class="txt-info-item">오픈 + 어드 연속 교육 <span class="sub-money">$30</span></div>
          <div class="txt-info-item">오픈, 어드, 레스큐 <span class="sub-money">$20</span></div>
          <div class="txt-info-item">그 외 교육 <span class="sub-money">$0</span></div>
          <div class="money-txt long">
            <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>20 ~
            <mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>30
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="icon orange">
          <mat-icon aria-hidden="false" aria-label="edu_fun" svgIcon="edu_fun"></mat-icon>
        </div>
        <div class="txt-info">
          <h3>교육 중 추가 펀다이빙</h3>
          <div class="txt-info-item">1회</div>
          <div class="money-txt"><mat-icon aria-hidden="false" aria-label="dollar" svgIcon="dollar"></mat-icon>20</div>
        </div>
      </div>
    </div>
  </article>
</section>
