<footer class="footer-wrap">
  <section class="footer-sec-wrap">
    <article class="logo-wrap">
      <a><img src="/assets/images/logo/baron_logo_gray.png" alt="Barondive" class="big-logo" /></a>
    </article>
    <article class="footer-info-wrap">
      <address>{{ this.address }}</address>
      <ul>
        <li>{{ this.ceoNm }}</li>
        <li>{{ this.tel }}</li>
      </ul>
    </article>
  </section>
  <section class="copyright-wrap">
    <article>{{ this.copyright }}</article>
  </section>
</footer>
