// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~app/scss/_popover.scss';
// Plus imports for other components in your app.

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(/assets/fonts/NanumSquareR.eot);
  src: url(/assets/fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/NanumSquareR.woff) format('woff'),
    url(/assets/fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(/assets/fonts/NanumSquareB.eot);
  src: url(/assets/fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/NanumSquareB.woff) format('woff'),
    url(/assets/fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(/assets/fonts/NanumSquareEB.eot);
  src: url(/assets/fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/NanumSquareEB.woff) format('woff'),
    url(/assets/fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(/assets/fonts/NanumSquareL.eot);
  src: url(/assets/fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/NanumSquareL.woff) format('woff'),
    url(/assets/fonts/NanumSquareL.ttf) format('truetype');
}

$custom-typography: mat-typography-config(
  $font-family: "Roboto, 'Noto Sans', 'Helvetica Neue', sans-serif",
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hrag-primary: mat-palette($mat-blue);
$hrag-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hrag-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hrag-theme: mat-light-theme(
  (
    color: (
      primary: $hrag-primary,
      accent: $hrag-accent,
      warn: $hrag-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hrag-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Noto Sans', 'Helvetica Neue', sans-serif;
  color: #555;
}

a {
  cursor: pointer;
}
